.we_are_hiring{position:absolute; top:10px; left:-5px;}

.team-body p {
    font-size:1.1em;
}
.protfolio-section  p{margin:0; padding:0; font-size:1.1em;}

.hideElement{display:none;}
.showElement{display:block;}

.clearload{clear:both; height:20px; width:100%; overflow: hidden;}

.sl-wrapper .sl-image { 
    border: 8px solid #fff; 
}

p.big_p{font-size:1.2em;}

.contact-subtitle{font-size:1.1em; padding:0; margin:0; font-weight:bold;}

.slider-caption h2{text-transform:none;}

.single-service, .our-services {cursor:text !important;}
.logo {
    padding: 3px 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 5px 15px;
    font-size: 18px;
    line-height: 20px;
}

.logo img{max-width:100%; height:auto; width:70px; height:70px;   -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;}

.is-sticky .logo img{max-width:100%; height:auto; width:49px; height:49px;   -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;}

.is-sticky .navbar-brand {
    
    height: 45px;
    padding: 5px 15px;
    
}


.slider-caption h1, #main-slide .item.active .slider-content h1 {
    font-size: 2.5em; 
    letter-spacing: 0;
    margin-bottom: 10px;
    text-transform:capitalize;
    line-height:1.4em; margin-bottom:5px; padding:0;
}

.slider-caption h5, #main-slide .item.active .slider-content h5 {
    color: #3f3f3f;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0px;
    letter-spacing: 0rem;
    text-transform:none;
}

h2 span.role_title{color:#eee !important; font-size:0.7em; display: block;}

.sl-overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    opacity: .9;
    display: none;
    z-index: 1006;
}

.hero-particle-bg h2{color:#fff; font-size:3em;}
.hero-particle-bg p{color:#fff; font-size:1.2em; text-transform:none;}

.our-partners-section {
    background-color: #fff;
}


.our-partners-section .item {
    padding: 30px 0;
}

.our-partners-section {
    box-shadow: none !important;
}

.blog-section{display:none;}


.navbar-custom {
    background-color: #111; 
    border: 0;
    margin-bottom: 0;
    border-radius: 0;
    box-shadow: 0px 3px 6px 3px rgba(0,0,0,0.06);
    z-index: 1111;
}

.navbar-custom .nav li > a {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 28px 20px;
    font-weight:700;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    text-transform:uppercase;
}

.navbar-custom .nav li > a:hover{
	background-color:#333;
}

.tel_number{font-size:1.5em; letter-spacing:-1px; font-family: 'Roboto', sans-serif; color:#f9710b;
font-weight: 700; padding:20px 10px 2px 25px;}
.is-sticky .tel_number{font-size:1.5em; padding:16px 10px 2px 25px;}

.copyright{color:#fff; margin-top:10px;}

.optin_form{}
.optin_form h3{color:#999;}
.optin_form p{color:#999}
.optin_form .txt_name{padding: 5px 15px; border: 0;}
.optin_form .txt_email{padding: 5px 15px; border: 0;}
.optin_form .btn_submit{ background-color: #fa770b; border: 0;
    font-weight: 500;
    padding: 5px 35px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    width:190px;
    color:#fff;}

 

.intro{    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding:5% 2%;
    text-align:center;
}

.intro h2{
    font-size: 2.3em !important; 
    line-height: 1.5;
    font-size: 1.5em;
    letter-spacing: 0.02em;
    
}


.intro hr {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}
.intro hr.sep {
    display: block;
    width: 15%;
    margin: 1em auto;
    border: 1px solid #f9710b;
}

hr.sep {
    display: block;
    width: 15%;
    margin: 1em auto;
    border: 1px solid #f9710b;
}

 
.intro p {
    padding: 0 10%;
    font-size: 1.3em;
    color: #999;
    margin: 0 0 .75em;
}

a.btn_s1 {
    background: none repeat scroll 0 0 #ffffff;
    border: 2px solid #ffffff;
    border-radius: 4px;
    color: #fa770b;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
    font-size: 20px;
    margin: 0 13px;
    padding: 15px 42px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
    line-height: 22px;
}

a.btn_s1:hover{color:#fff; transition: all 0.5s ease 0s; background:#fa770b;}


a.btn_s2 {
    background: none repeat scroll 0 0 #050301;
    border: 2px solid #ffffff;
    border-radius: 4px;
    color: #ffffff;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
    font-size: 20px;
    margin: 0 13px;
    padding: 15px 42px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
    line-height: 22px;
}

a.btn_s2:hover{color:#050301; background:#fff; transition: all 0.5s ease 0s;}

.callaction{padding:50px 0;}

.our-awards-section strong span {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    display: block;
    font-weight: 500;
    font-size: 58px;
    line-height: 68px;
}


.recent_works{text-align:center; padding:50px 0 0 0;}
.recent_works h2{font-size:3em;}
.recent_works h5{}

.date_completed{display:block; font-size:0.7em; font-weight:bold; background:#fff; width:150px; padding:1px 3px; margin:25px auto 0 auto;
opacity:0.9;}

.grayscale{-webkit-filter: grayscale(100%); filter: grayscale(100%);}
.grayscale:hover {-webkit-filter: grayscale(0%); filter: grayscale(0%);}

.recent_works img{max-width:100%; height: auto; vertical-align: top;  opacity: 0;  /* make it transparent */}

.col_item{}

.rasmed{background: url("../img/portfolio/recent/rasmed1.jpg") no-repeat 50% / 100%; }
.rasmed img{max-width:100%; height:auto;}


.aarano{background: url("../img/portfolio/recent/aarano2.jpg") no-repeat 50% / 100%; }
.aarano img{max-width:100%; height:auto;}


.aarano_web{background: url("../img/portfolio/recent/aarano_website.jpg") no-repeat 50% / 100%; }
.aarano_web img{max-width:100%; height:auto;}

.almond{background: url("../img/portfolio/recent/almond1.jpg") no-repeat 50% / 100%; }
.almond img{max-width:100%; height:auto;}


.shola{background: url("../img/portfolio/recent/shola_victor_sajowa.jpg") no-repeat 50% / 100%; }
.shola img{max-width:100%; height:auto;}


.rasmed_news{background: url("../img/portfolio/recent/rasmed_newsletter.jpg") no-repeat 50% / 100%; }
.rasmed_news img{max-width:100%; height:auto;}




.raj{background: url("../img/portfolio/recent/raj1.jpg") no-repeat 50% / 100%; }
.raj img{max-width:100%; height:auto;}

.tiddo{background: url("../img/portfolio/recent/tiddo2.jpg") no-repeat 50% / 100%; }
.tiddo img{max-width:100%; height:auto;}


.work_item a {
    color: #fff;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    background-color: rgba(0,0,0,0.9);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}



  
.recent_works .content {
    position: absolute;
    width: 100%;
    opacity: 1;
    padding: 0 5%;
    z-index: 10;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.content h3{font-size:2em; color:#fff;  text-transform:uppercase; letter-spacing: 0.05em;}

.content p {
    color: #fff;
    font-size: 1.3em;
    margin-bottom: 1em;
    -webkit-transition: margin 0.3s ease-in-out;
    -moz-transition: margin 0.3s ease-in-out;
    transition: margin 0.3s ease-in-out;
    padding: 0 7%;
}

 

.cols .overlay {
   /* background-color: rgba(0,0,0,0.3); */
}

.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 5;
    display: block;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0,0,0,0.6);
    -webkit-transition: background-color 1s ease;
    -moz-transition: background-color 1s ease;
    transition: background-color 1s ease;
     
}

.col_item a:hover .overlay {
    opacity: 0.95;
    background: #111;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -webkit-transform: translateZ(0);
    visibility: visible;
    -webkit-backface-visibility: hidden
}

.col_item hr.sep {
    display: block;
    width: 40%;
    margin: 1em auto;
    border: 1px solid #fff;
    width: 12%;
    -webkit-transition: width 1s ease;
    -moz-transition: width 1s ease;
    transition: width 1s ease
}

.col_item a:hover hr.sep {
    width: 40%
}

.col_item a:hover .overlay.purple {
    background-color: #230a47
}
 
.col_item a:hover .overlay.orange {
    background-color: #c55d2f
}


.col_item a:hover .overlay.blue {
    background-color: #17639f
}


.col_item a:hover .overlay.deep_blue {
    background-color: #2f2f79
}

.col_item a:hover .overlay.ash {
    background-color: #264050
}




.recent_works ul.work-list {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 5em;
    z-index: 10;
}


.recent_works ul.work-list li {
    opacity: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: .7em;
    font-family: "quadon", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0 .5em;
    text-align: left;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    -webkit-transition: opacity 2.5s ease-out;
    -moz-transition: opacity 2.5s ease-out;
    transition: opacity 2.5s ease-out
}


.col_item a:hover .work-list li {
    opacity: 1
}

.col_item a:hover .work-list li:nth-of-type(1) {
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    transition-delay: 0.2s
}

.col_item a:hover .work-list li:nth-of-type(2) {
    -webkit-transition-delay: 0.6s;
    -moz-transition-delay: 0.6s;
    transition-delay: 0.6s
}

.col_item a:hover .work-list li:nth-of-type(3) {
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    transition-delay: 1s
}

.col_item a:hover .work-list li:nth-of-type(4) {
    -webkit-transition-delay: 1.4s;
    -moz-transition-delay: 1.4s;
    transition-delay: 1.4s
}

.col_item a:hover .work-list li:nth-of-type(5){
    -webkit-transition-delay: 1.8s;
    -moz-transition-delay: 1.8s;
    transition-delay: 1.8s
}

.col_item a:hover .work-list li:nth-of-type(6) {
    -webkit-transition-delay: 2.2s;
    -moz-transition-delay: 2.2s;
    transition-delay: 2.2s
}


.recent_works ul.work-list li:after{
    content: "/";
    width: 0;
    height: 0;
    background: #fff;
    position: absolute;
    right: -.05em;
    top: -.01em
}

.recent_works ul.work-list li:last-child:after{
    display: none;
}


.recent_works .content h3 {
    text-transform: uppercase;
    font-size: 1.5em
}


/** Detail **/
.details ul.work-list {
  margin:0;
  padding:0;
 }


.details ul.work-list li {
    opacity: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: .6em;
    font-family: "quadon", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0 .5em;
    text-align: center;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    -webkit-transition: opacity 2.5s ease-out;
    -moz-transition: opacity 2.5s ease-out;
    transition: opacity 2.5s ease-out
}


.thumbnails a:hover .work-list li {
    opacity: 1;
}

.thumbnails a:hover .work-list li:nth-of-type(1) {
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    transition-delay: 0.2s
}

.thumbnails a:hover .work-list li:nth-of-type(2) {
    -webkit-transition-delay: 0.6s;
    -moz-transition-delay: 0.6s;
    transition-delay: 0.6s
}

.thumbnails a:hover .work-list li:nth-of-type(3) {
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    transition-delay: 1s
}

.thumbnails a:hover .work-list li:nth-of-type(4) {
    -webkit-transition-delay: 1.4s;
    -moz-transition-delay: 1.4s;
    transition-delay: 1.4s
}

.thumbnails a:hover .work-list li:nth-of-type(5){
    -webkit-transition-delay: 1.8s;
    -moz-transition-delay: 1.8s;
    transition-delay: 1.8s
}

.thumbnails a:hover .work-list li:nth-of-type(6) {
    -webkit-transition-delay: 2.2s;
    -moz-transition-delay: 2.2s;
    transition-delay: 2.2s
}


.thumbnails ul.work-list li:after{
    content: "/";
    width: 0;
    height: 0;
    background: #fff;
    position: absolute;
    right: -.05em;
    top: -.01em
}

.thumbnails ul.work-list li:last-child:after{
    display: none;
}




.thumbnails span.portfolio-overlay { 
    border: 5px solid #fff;  
}


@media (min-width: 992px){
	.container {
		width:100% !important;
	    max-width: 1070px !important;
	}
}

 
 h1 span.underline{border-bottom:2px solid #fff; color:#fff !important; font-weight:100 !important;}


/*---- Mobile version  ----*/
@media only screen
and (max-width : 780px) {
	
	.we_are_hiring img{max-width:40px; height:auto;}
	
	
	.logo { padding: 0 0 3px 15px;
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
	}
	
	
.logo img{max-width:100%; height:auto; width:37px !important; height:37px !important;  -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;}
	
	 
	h2 span.role_title{color:#eee !important; font-size:0.7em; display: block;}
 
	.hero-particle-bg h2{color:#fff; font-size:2em;}
	.hero-particle-bg p{color:#fff; font-size:1.1em; text-transform:none;}
	
	
	.intro h2 {
	    font-size: 1.6em !important;
	    line-height: 1.5; 
	    letter-spacing: 0.02em;
	    padding-left:15px;
	}
	
	
	.recent_works ul.work-list { bottom: 2em;  z-index: 10; }
	
	
	
	.single-service { margin-left: 15px !important; }



}

 
